<script type="text/x-tmpl" id="combatant-row-template">
  <tr class="combatant-row">
    <td class="col-xs-4"><input name="combat_tracker[combatants_attributes][replace_this][name]" class="name form-control" /></td>
    <td><input type="number" name="combat_tracker[combatants_attributes][replace_this][init]" class="init form-control" /></td>
    <td><input type="number" name="combat_tracker[combatants_attributes][replace_this][max_hp]" class="max_hp form-control" /></td>
    <td><input type="number" name="combat_tracker[combatants_attributes][replace_this][hp]" class="hp form-control" /></td>
    <td><input type="number" name="combat_tracker[combatants_attributes][replace_this][ac]" class="ac form-control" /></td>
    <td><input type="number" name="combat_tracker[combatants_attributes][replace_this][dc]" class="dc form-control" /></td>
  </tr>
</script>
