<script type="text/x-tmpl" id="combatant-row-template">
  <tr class="combatant-row">
    <td class="col-xs-4"><input name="combatant[name]" class="name form-control" /></td>
    <td><input type="number" name="combatant[init]" class="init form-control" /></td>
    <td><input type="number" name="combatant[max_hp]" class="max_hp form-control" /></td>
    <td><input type="number" name="combatant[hp]" class="hp form-control" /></td>
    <td><input type="number" name="combatant[ac]" class="ac form-control" /></td>
    <td><input type="number" name="combatant[dc]" class="dc form-control" /></td>
    <td>
      <button class="pull-right btn btn-danger btn-xs delete-row">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</script>
