<div class="row">
  <div class="col-xs-6">
    <ul class="nav nav-pills">
      <%= tab("Active Trackers", combat_trackers_path, params[:action] != "deleted") %>
      <%= tab("Deleted Trackers", deleted_combat_trackers_path, params[:action] == "deleted") %>
    </ul>
  </div>

  <div class="col-xs-6">
    <div class="pull-right">
      <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#new-combat-tracker-modal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
      </button>
    </div>
  </div>
</div>
