<% content_for :title, "Races" %>

<% content_for :content do %>
  <p>PC: I would like to add race information to the site.</p>
  <p>DM: Give me a web coding roll.</p>
  <p>PC: ... uh ...</p>
  <p>DM: What is it gun powder merchant Vincent.</p>
  <p>PC: Natural 1.</p>
  <p>DM: In your excitement to add the race information you forget to pray to <a href="https://en.wikipedia.org/wiki/List_of_Greyhawk_deities#Delleb">Delleb</a> and as he smites you for your insolence it ignites...</p>
  <p>PC: NOT ANOTHER FINGER!!!</p>
  <p>DM: ...a trail of powder on the floor. It crackles and sizzles and apears to go out...</p>
  <p>PC: Oh man I thought I was gonna loose ano...</p>
  <p>DM: ... IT REIGNITES and streaks accross the floor to a small pot which explodes next to your foot. You loose a toe.</p>
<% end %>
