$color-mahogany: #561609;
$color-tabasco: #922610;
$color-half-colonial-white: #FDF1DC;
$color-scarlet: #C02B18;
$color-fire-bush: #E69A28;
$table-bg-accent: #FDF1DC;
$color-deep-fir: #011903;
$color-green-pea: #1A4D2C;
