<% content_for :jumbotron do %>
  <div class="jumbotron bottom0">
    <div class="container">
      <h1>Welcome to TekkedOut D&amp;D</h1>
      <p>
        The items contained are a set of tools I created for use during my first campaign as a DM.
      </p>

      <p>
        This is NOT a replacement for the purchase of original Wizards of the Coast Dungeons &amp; Dragons material. Please support Wizards of the Coast by purchasing these books if you find this information helpful while playing.
      </p>

      <h3>
        This site is in Beta!
      </h3>
      <p>
        -- This database may be reset without warning --
      </p>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="col-xs-12 col-md-4">
    <h2>News</h2>

    <p>More to come... </p>
    <p>Happy rolling :D</p>
  </div>
  <div class="col-xs-12 col-md-4">
    <h2>Updates</h2>

    <p>I am aware of an error when updating combatants on Comback Trackers. It will be addressed shortly.</p>
  </div>
  <div class="col-xs-12 col-md-4">
    <h2>Social Info</h2>

    <p><a href="http://blog.steveklabnik.com/posts/2011-08-19-matz-is-nice-so-we-are-nice">MINISWAN</a></p>

    <p>Made with &lt;3 and Rails 5<br/>by Tek Hudson</p>
  </div>
</div>
