<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to TekkedOut D&amp;D</h1>

      <p>
        The items contained are a set of tools I created for use during my first campaign as a DM.
      </p>

      <p>
        This is NOT a replacement for the purchase of original Wizards of the Coast Dungeons &amp; Dragons material. Please support Wizards of the Coast by purchasing their content if you find this information helpful while playing.
      </p>

      <h3>
        This site is in Beta!
      </h3>

      <p>
        -- This database may be reset without warning --
        <br/>
        -- I will do my best to maintain user accounts --
      </p>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Updates</h2>

      <p>
        For issues please visit my repo at <%= link_to "github.com/tekHudson/tekkedout-dnd-tools", "https://github.com/tekHudson/tekkedout-dnd-tools" %>
      </p>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Update to Rails 5.2 & More</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2018</h6>
          <p>Update modal for creatures to look like a statblock in the Monster Manual.</p>
          <p>Updating to newer technology stack and improving look. Also want to make certain features accessable to those who don't have accounts.</p>
          <p>I've made the decision to open up Creatures and Spells up for use by non logged participants.</p>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Bootstrap and style</h5>
          <h6 class="card-subtitle mb-2 text-muted">July 2017</h6>
          <p>Time to make it look a bit more pretty.</p>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Spin up Spells and Combat Tracker</h5>
          <h6 class="card-subtitle mb-2 text-muted">Rest of June 2017</h6>
          <p>Adding alot more functionality.</p>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Deploy to Heroku</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 9th, 2017</h6>
          <p>Got it started on Heroku.</p>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Initial commit!</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 3rd, 2017</h6>
          <p>Having had frustrations with aspect of data when DMing I started work on this project.</p>
        </div>
      </div>
    </div>
  </div>
</div>
