/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "table_custom_striped";
@import "table_row_click";
@import "devise_bootstrap_views";
@import "dataTables/jquery.dataTables";
@import "data_tables";
@import "combat_tracker";
@import "spells";
@import "devise";
@import "utilities/variables";

body {
  background-image: image-url("content-background.jpg");
  padding-top: 70px;
}

.btn-danger {
  background-color: $color-scarlet;
  color: $color-half-colonial-white;
}

.btn-primary,
.btn-primary:focus {
  background: $color-tabasco;
  border: 2px solid $color-mahogany;
  color: $color-half-colonial-white;
}

.btn-primary:hover {
  background: $color-mahogany;
  border: 2px solid $color-tabasco;
  color: $color-half-colonial-white;
}

.btn-success,
.btn-success:focus {
  background: $color-green-pea;
  border: 2px solid $color-deep-fir;
  color: $color-half-colonial-white;
}

.btn-success:hover {
  background-color: $color-deep-fir;
  border: 2px solid $color-green-pea;
  color: $color-half-colonial-white;
}

.btn-default,
.btn-default:focus {
  background: $color-half-colonial-white;
  border: 2px solid $color-tabasco;
  color: $color-mahogany;
}

.btn-default:hover {
  background-color: $color-tabasco;
  border: 2px solid $color-half-colonial-white;
  color: $color-half-colonial-white;
}

a { color: $color-mahogany; }

.nav-pills > li > a:hover { background-color: $color-half-colonial-white; }

.nav-pills > li > a,
.nav-pills > li > a:focus {
  background-color: transparent;
  color: $color-mahogany;
  border: 2px solid $color-mahogany;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: $color-tabasco;
  color: $color-half-colonial-white;
  border: 2px solid $color-mahogany !important;
}

/* only xs devices */
@media only screen and (max-width : 767px) {
}

/* only sm devices */
@media only screen and (max-width : 991px) {
  .btn-block-sm {
    width: 100%;
    display:block;
  }

  .top15-sm-only { margin-top:15px; }

  .bottom15-sm-only { margin-bottom:15px; }
}

/* sm and larger devices */
@media only screen and (min-width : 768px) {
  .pull-right-sm { float: right; }
}

/* Spacer Styles */
.top0 { margin-top:0px; }

.top5 { margin-top:5px; }

.top10 { margin-top:10px; }

.top15 { margin-top:15px; }

.top20 { margin-top:20px; }

.top30 { margin-top:30px; }

.bottom0 { margin-bottom:0px; }

.bottom5 { margin-bottom:5px; }

.bottom10 { margin-bottom:10px; }

.bottom15 { margin-bottom:15px; }

.bottom20 { margin-bottom:20px; }

.bottom30 { margin-bottom:30px; }
