/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import "combat_tracker";
@import "creatures";
@import "data_tables";
@import "table_custom_striped";
@import "spells";
@import "spacers";

body {
  background-image: image-url('page-background.jpg');
}

.jumbotron {
  background-image: image-url('content-background.jpg');
}

.card {
  background-image: image-url('paper-background.png');
  border: 2px solid $color-tabasco;
}

a,
a:focus,
.btn-link,
.btn-link:focus {
  color: $color-tabasco;
}

a:hover,
.btn-link:hover {
  color: $color-scarlet;
}

a,
.btn-link {
  color: $color-tabasco;
}

.btn-danger {
  background-color: $color-scarlet;
  color: $color-half-colonial-white;
}

.btn-primary,
.btn-primary:focus {
  background: $color-tabasco;
  border: 2px solid $color-mahogany;
  color: $color-half-colonial-white;
}

.btn-primary:hover {
  background: $color-mahogany;
  border: 2px solid $color-tabasco;
  color: $color-half-colonial-white;
}

.btn-success,
.btn-success:focus {
  background: $color-green-pea;
  border: 2px solid $color-deep-fir;
  color: $color-half-colonial-white;
}

.btn-success:hover {
  background-color: $color-deep-fir;
  border: 2px solid $color-green-pea;
  color: $color-half-colonial-white;
}

.btn-secondary,
.btn-secondary:focus {
  background: $color-half-colonial-white;
  border: 2px solid $color-tabasco;
  color: $color-mahogany;
}

.btn-secondary:hover {
  background-color: $color-tabasco;
  border: 2px solid $color-half-colonial-white;
  color: $color-half-colonial-white;
}
