@import "utilities/variables";

.paginate_button {
  margin-left: 0.5rem;
}

.pagination > li > .page-link {
  background-color: transparent;
  color: $color-mahogany;
  border: 2px solid $color-mahogany;
  border-radius: 4px;
}

.pagination > li > .page-link:hover,
.pagination > li > .page-link:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: $color-tabasco;
  color: $color-half-colonial-white;
  border-radius: 4px;
}

.pagination > .active > .page-link,
.pagination > .active > .page-link:hover,
.pagination > .active > .page-link:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background: $color-half-colonial-white;
  color: $color-mahogany;
  border: 2px solid $color-mahogany;
  border-radius: 4px;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > .page-link,
.pagination > .disabled > .page-link:hover,
.pagination > .disabled > .page-link:focus {
  border: 2px solid $color-mahogany;
}

td.sorting,
td.sorting_asc,
td.sorting_desc {
  color: $color-mahogany;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
  border-top: 1px solid $color-mahogany;
  border-bottom: 2px solid $color-mahogany;
}

.dataTables_info,
.dataTables_length > label,
.dataTables_filter > label {
  color: $color-mahogany !important;
}
