@import "utilities/variables";

.spell-tile {
    $tile-dimension: 100px;
    width: $tile-dimension;
    height: $tile-dimension;
    white-space: normal;
    padding: 2px;
    overflow: scroll;
    line-height: 1.2em;
}

.spell__notfound {
    font-size: 20px;
    font-style: italic;
    display: none;
}

.spell__notfound.is-visible {
    display: block;
}

// Spell Modal
.spell-modal  .modal-content{
    color: $color-mahogany;
    background: $color-half-colonial-white;
}

.spell-modal .modal-footer {
    border-top: 2px solid $color-tabasco !important;
}

.spell-modal .modal-header {
    border-bottom: 2px solid $color-tabasco !important;
}


// Media Queries
@media screen and (max-width: 490px) {

    .spell-tile {
        $tile-dimension: 80px;
        width: $tile-dimension;
        height: $tile-dimension;
    }
}
