@import "utilities/variables";

.spell-tile {
    height: 74px !important;
    white-space: normal;
    box-shadow: 0 0 0 2pt white;
}

.spell__notfound {
    font-size: 20px;
    font-style: italic;
    display: none;
}

.spell__notfound.is-visible {
    display: block;
}

// Spell Modal
.spell-modal {
    color: $color-mahogany;
    background: $color-half-colonial-white;
}

.spell-modal .modal-footer {
    border-top: 2px solid $color-tabasco !important;
}

.spell-modal .modal-header {
    border-bottom: 2px solid $color-tabasco !important;
}
