@import "utilities/variables";

.spell-tile {
    height: 74px !important;
    white-space: normal;
    box-shadow: 0 0 0 2pt white;
}

.spell__notfound {
    font-size: 20px;
    font-style: italic;
    display: none;
}

.spell__notfound.is-visible {
    display: block;
}

// Spell Modal
.spell-modal {
    color: #561609;
    background: #FDF1DC;
}

.spell-modal-footer {
    border-top: 2px solid #922610 !important;
}

.modal-cancel-btn {
    border: 1px solid #922610 !important;
}

.spell-modal-header {
    border-bottom: 2px solid #922610 !important;
}
