<p><%= t(".greeting", recipient: @resource.email, default: "Welcome #{@resource.email}!") %></p>

<p><%= t(".thanks", default: "Thank you so much for your interest in D&amp;D TekkedOut's Tools :D") %></p>

<p><%= t(".instruction", default: "You can confirm your account email through the link below:") %></p>

<p><%= link_to t(".action", default: "Confirm my account"),
         confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>
